<!-- <div class="container">
    <h2>I'm in the AppComponent!</h2>

    <hr>
    <div class="row">
        <div class="col-xs-12">
            <app-servers></app-servers>
        </div>
    </div>
</div> -->

<!-- ~~~~~assignment 1 ~~~~~~-->
<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <label for="username">Username:</label>
            <input
                type="text"
                class="form-control"
                name="username"
                [(ngModel)]="username"
                >
                <p>{{username}}</p>
            <button
                class="btn btn-success"
                [disabled]="username === ''"
                (click)="username = ''"
            >Clear</button>
        </div>
    </div>
</div> -->


<!-- ~~~~~assignment 2 ~~~~~~-->

<!-- <div class="container">
    <div class=" row">
        <div class="col-md-12">
            <div class="btn btn-primary" (click)="onBtnClick()">Display Details</div>
            {{num}}
        </div>        

        <div *ngIf="displayText" class="col-md-12">
            <p>Secret password = tuna</p>
        </div>
        
        <p
            *ngFor="let log of logs; let i = index"
            [style]="{ backgroundColor: i >= 4 ? 'blue' : '' }"
            [class]="{ white: i >= 4} "
        >{{ log }}</p>
    </div>

</div> -->

<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-recipes></app-recipes>
            <app-shopping-list></app-shopping-list>
        </div>
    </div>
</div>